venv/
__pycache__/
app/__pycache__/
*.pyc
*.pyo
*.pyd
*.db
app/*.db
*.env
.calude
.cursorignore
.vscode
logs/
*.log
.DS_Store
**/.DS_Store
*.rdb
celerybeat.pid
.python-version
celerybeat-schedule
template_cache/